nav {
  top: 0;
  left: 0;
  position: fixed;
  min-height: 80px;
  background-color: white;
  border-bottom: 2px black solid;
  width: 800px;
}

nav ul li {
  float: left;
  width: 140px;
}

nav ul {
  list-style: none;
}

.movie {
 width: 90px;
 height: 90px;
 background-color: purple;
 color: white;
 margin: 10px;
}

.movie a {
  color: white;
}

.details {
 width: 240px;
 margin: 10px;
 background-color: blue;
 color: white;
 float: left;
}

.selected {
 border: 2px red solid;
}
#movies {
 width: 720px;
}

#overview {
  padding-top: 90px;
  width: 200px;
  float: left;
}

#details {
  margin-top: 10px;
  width: 400px;
  float: right;
  border: 3px black solid;
  padding: 20px;
  top: 80px;
  left: 200px; 
  position: fixed;
}
